/* form that allows to filter the timeline */
#filter {
  background-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
  transition: padding 0.4s;
  padding: 2em 8%;
}

/* full-page form */
#filter.fullpage {
  background-color: transparent;
  box-shadow: none;
}

/* fancy golden ratio on wide screens! */
@media screen and (min-width: 900px) {
  #filter {
    text-align: center;
    width: 84%;
  }

  #filter.fullpage {
    position: absolute;
    padding-top: 62vh;
  }
}

/* the (labelled) elements in the form */
#filter > label {
  background-color: var(--white);
  padding: 1%;
  margin: 1%;
  border-radius: 3px;
}

#filter > label > input {
  background-color: inherit;
  border: none;
}

/* extra space between the label and the main topic */
#topic > input {
  padding-left: 0.4em;
}

#filter > #submit:hover input {
  color: var(--primary);
}

/* responsive form on small screens */
@media screen and (max-width: 900px) {
  #filter {
    padding: 3%;
  }

  #filter.fullpage {
    padding-bottom: 4em;
  }

  #filter > label {
    transition: margin 0.4s;
    display: inline-block;
    margin: 0.5em 0.5%;
    width: 92%;
    padding: 4%;
  }

  #filter.fullpage > label {
    margin-bottom: 1.5em;
  }

  #filter #submit input {
    padding-left: 0;
  }
}
