body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #B55;
  background-image: linear-gradient(10deg, #B55, #B05A62, #A79);
  background-image: -o-linear-gradient(10deg, #B55, #B05A62, #A79);
  background-image: -moz-linear-gradient(260deg, #A79, #B05A62, #B55);
  background-image: -webkit-linear-gradient(260deg, #A79, #B05A62, #B55);
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
