/* container around the content */
.TimelineItem {
  list-style: none;
  padding: 10px 40px;
  position: relative;
  width: 50%;
  box-sizing: border-box;
}

/* circles on the timeline */
.TimelineItem::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12.5px;
  background-color: var(--accent-color);
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

/* place containers to the left or right */
.left { left: 0; }
.right { left: 50%; }

/* add arrows pointing left or right */
.TimelineItem::before {
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  border: medium solid var(--material);
}

/* arrows for left containers (pointing right) */
.left::before {
  right: 30px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent var(--material);
}

/* arrows for right containers (pointing left) */
.right::before {
  left: 30px;
  border-width: 10px 10px 10px 0;
  border-color: transparent var(--material) transparent transparent;
}

/* fix the circle for containers on the right side */
.right::after {
  left: -12.5px;
}

/* the actual content */
.content {
  padding: 3%;
  background-color: var(--material);
  color: var(--text-color);
  position: relative;
  border-radius: 4px;
  display: block;
}

/* responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* full-width containers */
  .TimelineItem {
    width: 100%;
    padding: 0.25em 0.5em;
  }

  .content {
    padding: 1em;
  }

  /* make sure that all arrows are pointing leftwards */
  .TimelineItem::before { border: none; }

  /* make sure all circles are at the same spot */
  .TimelineItem::after { width: 0; }

  /* make all right containers behave like the left ones */
  .right { left: 0; }
}

/* list of tags to which a TimelineItem is related */
.TimelineItem .tagsList {
  display: inline-block;
  opacity: 0;
  color: var(--primary-color);
  visibility: hidden;
  list-style: none;
  float: right;
  max-width: 16em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: visibility 0s, opacity 0.2s;
}

/* highlighted list (preview) on desktops */
@media screen and (min-width: 900px) {
  .TimelineItem:hover .tagsList {
    opacity: 1;
    visibility: visible;
    transition: visibility 0s, opacity 0.2s;
  }
}

.tagsList a {
  text-decoration: none;
  color: var(--primary-color);
}

.tagsList a:visited {
  color: var(--primary-color-darker);
}

/* single tag */
.TimelineItem .tagsList > li {
  display: inline;
  margin: auto auto auto 0.6em;
}

/* hashtag before single tag */
.TimelineItem .tagsList > li::before {
  content: '#';
  color: #555;
}

/* clicked list (complete) */
.TimelineItem.detailed .tagsList {
  display: block;
  opacity: 1;
  visibility: visible;
  max-width: 90%;
  float: none;
  margin: 3% 0 0 0;
  text-align: right;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  transition: margin 0.2s;
}

/* non-breakable elements for a multi-line list */
.TimelineItem.detailed .tagsList li {
  display: inline-block;
}
